*{
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
}

/* START HEADER AREA  */

.banner{
	background: url('./images/banner/banner3.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 137px;
}
.banner-concept{
	margin-left: 800px;
	width: 600px;
	color: white;
	text-align: right;
}
.banner-concept h1{
	font-size: 65px;
	margin-bottom: 24px;
}
.banner-concept p{
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 32px;
}
.banner-concept button{
	border: 0;
	padding: 18px 32px;
	border-radius: 5px;
	font-size: 17px;
	color: #005FAC;
	font-weight: 600;
}


/*START FAILURE AREA*/


.failures{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 200px;
	margin-bottom: 130px;
}
.failure-text{
	width: 400px;
}
.failure-text h2{
	font-size: 40px;
	margin-bottom: 24px;
	line-height: 47px;
}
.failure-text p{
	margin-bottom: 16px;
	font-size: 16px;
	color: #444343;
	line-height: 26px;
}
.failure-text ul li{
	list-style: none;
	color: #444343;
	line-height: 30px;
}
.failure-text ul li i{
	color: #16D887;
}

/*  SUCCESS AREA  */


.success{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 200px;
	margin-bottom: 130px;
}
.success-title{
	width: 400px;
}
.success-title h2{
	font-size: 40px;
	margin-bottom: 28px;
	line-height: 47px;
}
.success-person img{
	height: 623px;
}
.success-content{
	display: flex;
	box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
	border-radius: 5px;
	margin-bottom: 17px;
	padding: 5px;
	padding-top: 15px;
}
.success-content img{
	margin-bottom: 22px;
	margin-right: 20px;
}
.success-content-title h3{
	margin-bottom: 5px;
}
.success-content-title p{
	font-size: 16px;
	color: #444343;
	line-height: 26px;
}


/*  PLAN AREA  */


.plan{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 135px;
}
.plan h2{
	font-size: 40px;
	margin-bottom: 50px;
}
.plan-all{
	display: flex;
}
.plan-description{
	margin-right: 100px;
	text-align: center;
}
.plan-description h3{
	font-size: 25px;
	margin-bottom: 10px;
}
.plan-description p{
	font-size: 17px;
	color: #737272;
}

/*  WATCH AREA  */


.watch{
	background: url('./images/watch.png'),linear-gradient(rgb(2, 95, 110, 1),rgb(2, 95, 110, 0.1));
	background-blend-mode: overlay;
	background-size: cover;
	background-repeat: no-repeat;
	width: 1140px;
	height: 200px;
	margin: 0 auto;
	color: #fff;
	padding: 59px 64px;
	border-radius: 5px;
	margin-bottom: 130px;
}
.watch h2{
	font-size: 40px;
	width: 500px;
	margin-bottom: 24px;
}
.watch button{
	padding: 20px 36px;
	border-radius: 5px;
	border: 0;
	color: #005FAC;
	font-size: 17px;
}

/*  FOOTER AREA  */


.footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	color: #fff;
	padding: 50px 0;
}
.footer h2{
	font-size: 40px;
	margin-bottom: 16px;
}
.footer p{
	margin-bottom: 24px;
	width: 400px;
	line-height: 26px;
}
.footer-icon img{
	margin-right: 10px;
}
.subscribe h3{
	font-size: 25px;
	margin-bottom: 31px;
}
.subscribe input{
	margin-bottom: 16px;
	display: block;
	padding: 15px 20px;
	border-radius: 5px;
	background-color: black;
	border: 1px solid #fff;
	color: #fff;
}
.subscribe button{
	padding: 15px 36px;
	border: 0;
	border-radius: 5px;
	background-color: #005FAC;
	color: #fff;
}
